.navbar-collapse{
    text-align: start;
    padding-left:3rem;
    padding-top:10px;
    color: white !important;
    margin-top: 5px;
    border-radius: 10px;
    font-size: 20px;
 }
 .navbar-toggler{
     color: white !important;
     border-color: aliceblue !important;
 }
 .nav-link{
    color: white !important;
    font-family: modak;

 }
